<!-- We've been passed @survey -->

<%= @survey.name %>
<form action="/submit_responses/<%= survey.id %>" method="POST">
  <ol>
    <% @survey.questions.each do |question| %>
      <%= question.text %> 
      <% question.options.each do |option| %>
        <input type="radio" name="<%= question.id %>" value="<%= option.id %>">
        <li><%= option.text %></li>
      <% end %>
    <% end %>
  </ol>
  <input type="submit">
</form>
